# Public address of the deployed frontend
FRONTEND_URL=https://m2rtecnologias.vercel.app

# Use production in Render. Use development only when testing locally with frontend dev servers.
APP_ENV=production
